.footer__column-link {
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  font-weight: normal;
  line-height: 30px;
}

.footer__column-link:hover {
  opacity: .5;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}