.feynman__link {
  font-size: 36px;
  color: #2f80ed;
  font-weight: normal;
  line-height: 51px;
  text-decoration: none;
  z-index: 3;
  position: absolute;
  right: 48px;
  top: 50%;
  transition: .3s;
}

.feynman__link:hover {
  opacity: .5;
}
