@font-face {
  font-family: 'Myriad pro';
  font-weight: normal;
  src: url(../../fonts/MyriadProRegular.woff) format('woff'),
       url(../../fonts/MyriadProRegular.ttf) format('truetype'),
       url(../../fonts/MyriadProRegular.eot) format('eot');
}

@font-face {
  font-family: 'Myriad pro';
  font-weight: bold;
  src: url(../../fonts/MyriadProBold.woff) format('woff'),
       url(../../fonts/MyriadProBold.ttf) format('truetype'),
       url(../../fonts/MyriadProBold.eot) format('eot');
}

.root {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Myriad pro', Arial, sans-serif;
}
