:root {
  --color-bg-them-clear: #f2f2f2;
  --color-bg-them-dark: #1f1f1f;
  --color-text-them-dark: #fff;
  --color-link: #2f80ed;
  --color-squer: #2f80ed;
  --text-size-xs: 18px;
  --text-size-s: 24px;
  --text-size-m: 36px;
  --text-size-l: 60px;
  --text-size-xl: 102px;
  --text-size-xxl: 120px;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  scroll-behavior:smooth;
}

.logo {
/* в брифе написано сделать общий класс logo
лого везде разные, общая только ширина */
}

.span-accent_bold {
  font-weight: bold;
}

/* them_dark */

.them_dark {
  color: var(--color-text-them-dark);
}

/* header */

.header {
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  padding-left: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--color-bg-them-clear);
  overflow: hidden;
}

.logo_place_header {
  width: 183px;
  height: 32px;
  position: absolute;
  top: 30px;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.header__title {
  width: 730px;
  font-size: var(--text-size-xl);
  font-weight: bold;
  margin: 0;
  z-index: 3;
  line-height: 96px;
}

.header__subtitle {
  width: 388px;
  z-index: 3;
  line-height: 25px;
  font-size: var(--text-size-xs);
  position: absolute;
  bottom: 30px;
  margin: 0;
}

.header__link {
  text-decoration: none;
  color: var(--color-link);
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background: var(--color-squer);
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 0;
}

/* section */

.section-title {
  width: 60%;
  font-size: var(--text-size-l);
  font-weight: bold;
  line-height: 1.15;
  margin: 0 auto 20px;
  z-index: 3;
  position: relative;
}

.section-subtitle {
  width: 60%;
  font-size: var(--text-size-s);
  font-weight: normal;
  margin: 0 auto;
  line-height: 34px;
  z-index: 3;
  position: relative;
}

/* table */

.table {
  width: 1100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  z-index: 3;
  position: relative;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
  text-align: left;
}

.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
  text-align: left;
}

.table__heading {
  font-size: var(--text-size-s);
  font-weight: bold;
  margin: 0 0 20px 0;
  line-height: 1.15;
}

.table__text {
  font-size: var(--text-size-xs);
  font-weight: normal;
  line-height: 1.2;
  margin: 0 0 20px 0;
}

.table__text:last-of-type {
  margin: 0;
}

/* discription */

.description {
  padding-top: 100px;
  display: flex;
  justify-content: center;
}

.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

/* в макете просто width, поменял на min-width,
чтобы колонка не сжималась на экранах меньшп 1200px */
.two-columns__brief {
  min-width: 175px;
}

.two-colomns__title {
  font-size: var(--text-size-xs);
  color: var(--color-link);
  margin: 0;
  font-weight: normal;
  line-height: 1.2;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  font-size: var(--text-size-s);
  line-height: 34px;
  margin: 0 0 30px 0;
}

.two-columns__paragraph:last-of-type {
  margin: 0;
}

/* digits */

.digits {
  padding: 100px 0;
  text-align: center;
}

/* feynman */

.feynman {
  height: 790px;
  background: var(--color-bg-them-clear);
  text-align: center;
  padding-top: 100px;
  position: relative;
}

.feynman__title {
  width: 648px;
  font-size: var(--text-size-xxl);
  line-height: 1.15;
  font-weight: bold;
  margin: 0 auto 70px;
  z-index: 3;
  position: relative;
}

.feynman__subtitle {
  font-size: var(--text-size-m);
  font-weight: normal;
  line-height: 51px;
  margin: 0;
  z-index: 3;
  position: relative;
}

.feynman__link {
  font-size: var(--text-size-m);
  color: var(--color-link);
  font-weight: normal;
  line-height: 51px;
  text-decoration: none;
  z-index: 3;
  position: absolute;
  right: 48px;
  top: 50%;
}

.feynman__illustration {
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index:1;
}

/* kaufman */

.kaufman {
  background: var(--color-bg-them-dark);
  padding: 90px 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.kaufman__triangle {
  position: absolute;
  top: 0;
  right: -210px;
  z-index: 0;
}

/* footer */

.footer {
  min-height: 350px;
  background: var(--color-bg-them-dark);
  color: var(--color-text-them-dark);
  padding: 60px 0 40px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.footer__columns {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content:space-between;
  align-items: stretch;
  flex-direction: row;
}

.footer__column_copyright {
  width: 50%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.logo__place_footer {
  width: 183px;
  height: 35px;
}

.footer__author {
  margin: 18px 0;
  font-size: var(--text-size-xs);
  line-height: 25px;
  font-weight: normal;
}

.footer__column_info {

}

.footer__column-heading {
  font-size: var(--text-size-xs);
  font-weight: bold;
  line-height: 30px;
  margin: 0 0 20px 0;
}

.footer__column-links {
  margin: 0 0 16px 0;
  padding: 0;
  list-style: none;
}

.footer__column-link {
  text-decoration: none;
  font-size: var(--text-size-xs);
  color: var(--color-text-them-dark);
  font-weight: normal;
  line-height: 30px;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
  vertical-align: middle;
}
