.khan__buy-link {
  font-size: 30px;
  line-height: 42px;
  text-decoration: none;
  color: #2f80ed;
}

.khan__buy-link:hover {
  opacity: .5;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
